<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Test Main</title>

    <link href="/styles/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="title">title</div>
    <h2>test index page</h2>
  </body>
</html>
